body{
    background-image: url(/docs/parquet.jpg);
    background-color: rgb(150, 150, 255);
    background-blend-mode: difference;
    font-family: 'Simonetta';
    font-weight: lighter;
    line-height: 1.6;
    color: rgb(231, 231, 231);
}


.logo{
    width: 15em;
    margin-right: 15%;
    margin-left: 10%;
    animation: zoom 3s infinite ease-in-out;
}

@keyframes zoom {
    0% {transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform: scale(1);}
}

.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5vh;
    align-items: center;
}

.titlelogo{
    width: 40em;
    right: 50%;
}

@media only screen and (max-width: 650px) {
  .titlelogo {
    width: 20em;
  }
  .logo{
      width: 10em;
  }
  body{
      font-size: 50%;
  }
}

.title h1{
    margin-bottom: 0px;
}

.main{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.info{
    width: 50em;
    text-align: center;
    color: rgb(231, 231, 231);
    text-shadow: black 2px 2px 2px;
}

.info h3{
    background-image: url(/docs/parquet2.jpg);
    background-color: rgb(255, 255, 255);
    background-blend-mode: difference;
    clip-path: polygon(20% 0, 5% 10%, 0 50%, 5% 89%, 20% 100%, 80% 100%, 95% 90%, 100% 50%, 95% 10%, 80% 0);
    color: black;
    text-shadow: white 2px 2px 2px;
}

.pizze{
    margin-right: 5vw;
    text-align: left;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pizzetitle{
    font-size: 2em;
    padding-left: 2vw;
}

ul{
    list-style-type: none;
    margin-right: 2vw;
}

aside{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.pepsi{
    width: 50%;
}

footer{
    background-color: black;
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}