body{
    background-image: url(/docs/parquet.jpg);
    background-color: rgb(150, 150, 255);
    background-blend-mode: difference;
    font-family: 'Simonetta';
    font-weight: lighter;
    line-height: 1.6;
    color: rgb(231, 231, 231);
}

.main> img {
    width: 75vh;
}

.logo{
    width: 15em;
    margin-right: 15%;
    margin-left: 10%;
    animation: zoom 3s infinite ease-in-out;
}

@keyframes zoom {
    0% {transform: scale(0.8);}
    50%{transform: scale(1);}
    100%{transform: scale(0.8);}
}

.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5vh;
    align-items: center;
}

.titlelogo{
    width: 40em;
    right: 50%;
}

@media only screen and (max-width: 650px) {
  .titlelogo {
    width: 20em;
  }
  .logo{
      width: 10em;
  }
  body{
      font-size: 80%;
  }
  .main{
      align-content: center;
      flex-direction: column;
  }
}


@media only screen and (max-width: 800px) {
    .titlelogo {
    width: 20em;
  }
  .logo{
      width: 10em;
  }
  body{
      font-size: 90%;
  }
  .main > img{
      width: 50%;
  }
}


.title h1{
    margin-bottom: 0px;
}

.main{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    margin-top: 15vh;
    text-align: center;
    color: rgb(231, 231, 231);
    text-shadow: black 2px 2px 2px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center; 
    align-content: center;
}

.info h3{
    /*background-image: url(/docs/parquet2.jpg);
    background-color: rgb(255, 255, 255);
    background-blend-mode: difference;
    clip-path: polygon(20% 0, 5% 10%, 0 50%, 5% 89%, 20% 100%, 80% 100%, 95% 90%, 100% 50%, 95% 10%, 80% 0);
    color: black;
    text-shadow: white 2px 2px 2px;*/
    border-style:ridge;
    border-radius: 15px;
    background-image: url(/docs/parquet2.jpg);
    background-color: rgb(243, 141, 101);
    background-blend-mode: difference;
    padding: 0.5vw;
}

.infos{
    grid-column-start: 1;
    grid-column-end: 3;
}

.position{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
}

.position img{
    width: 70%;
}


/*
.pizze{
    margin-right: 5vw;
    text-align: left;
    padding-left: 5%;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    justify-content: start;
}

#pizzenorm{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

#pizzelist{
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentpizze{
    grid-column-start: 2;
    grid-column-end: 2;
}

#pizzebianches{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
}

#pizzebianche{
    grid-column-start: 4;
    grid-column-end: 4;
}

#sfilatinis{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
}

#sfilatini{
    grid-row-start: 4;
    grid-column-start: 4;
}

#contentsfilatini{
    grid-row-start: 4;
    grid-column-start: 5;
}

#prezzisfilatini{
    grid-row-start: 4;
    grid-column-start: 6;
}



.pizzetitle{
    font-size: 2em;
    padding-left: 2vw;
}

ul{
    list-style-type: none;
    margin-right: 2vw;
}

.contentpizze > li, .contentpizzebianche > li, .contentsfilatini > li{
    font-size: smaller;
}

.pizze{
    border-style:ridge;
    padding-right: 5vw;
    border-width: 1vw;
    border-radius: 5px;
    border-color: rgb(190, 190, 190);
}
*/

aside{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

.altro > h1{
    font-size: 4em;
}

.pepsi{
    width: 50%;
}

footer{
    background-color: rgba(0, 0, 0, 0.589);
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    text-align: center;
}

a{
    color: rgb(147, 128, 255);
}