body{
    background-image: url(/docs/parquet.jpg);
    background-color: rgb(150, 150, 255);
    background-blend-mode: difference;
    font-family: 'Simonetta';
    font-weight: lighter;
    color: rgb(231, 231, 231);
    text-shadow: black 2px 2px 2px;
    line-height: 1.6;
}

.logo{
    width: 15em;
    margin-right: 15%;
    margin-left: 10%;
}

.title {
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;*/
    margin-top: 5vh;
}

.titlelogo{
    width: 40em;
    right: 50%;
}

@media only screen and (max-width: 650px) {
  .titlelogo {
    width: 20em;
  }
  .logo{
      width: 10em;
  }
}

.title h1{
    margin-bottom: 0px;
}

.main{
    margin-top: 10vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.info{
    width: 50em;
    padding-left: 5%;
}

.pizze{
    padding-left: 10%;
}

aside{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

footer{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}